*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    font-family: Arial, Helvetica, sans-serif;
    
}

.clock-container{
    background-color: rgba(255,255,255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 50px 60px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.2);
}
.time{
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 0 0 20px rgba(255,255,255,0.5);
    font-variant-numeric:tabular-nums ;
}

.date{
    font-size: 24px;
    color: rgba(255,255,255, 0.9);
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
}

.day{
    font-size: 20px;
    color: rgba(255,255,255, 0.8);
    text-align: center;
    margin-top: 10px;
    text-transform: 3px;
    letter-spacing: 3px;
}
.ampm{
    font-size: 30px;
    color: rgba(255,255,255, 0.9);
    margin-left: 10px;
}